/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Header */
  header {
   
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 90px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-left: 25px;
  }
  
  nav a {
    display: block;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }




   /* génrale */
   body {
    font-family: 'Roboto Mono', sans-serif;
    background-color: #eae4da;
  }
  
   /* footer */
  .footer {
    max-width: 1900px;
    position: absolute;
    bottom: 0;
    margin-left: 800px;
  }
  
  .right-align {
    color: #333333;
    text-align: right;
    padding: 40px;
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    display: inline-block;
    padding-left: 400px;
  }

  .pixel img {
    
    position: absolute;
    height: 700px;
    bottom: 0;  
  }

  /* bouton pour envoyer le fichier pdf - index */

.container1 {
  margin-top: 100px;
  margin-left: 180px;
  position: absolute;
  
}


 .form-container1 button {
    background-color: #e37047; /* couleur de fond */
    color: #333333; /* couleur du texte */
    padding-bottom: 7px; /* taille du padding */
    padding-top: 4px;
    padding-left: 12px;
    padding-right: 12px;
    border: 3px solid #333333; /* ajout bordure */
    border-radius: 12px; /* arrondi des coins */
    cursor: pointer; /* curseur au survol */
    font-size: 12px; /* taille de la police */
    width: 150px; /* Modifier la valeur pour ajuster la largeur*/
    font-family: 'Roboto Mono', sans-serif;/* typo*/
    font-weight: 400; /* graisse typo*/
    margin-top: 50px;
    
    position: absolute;
  }

  .form-container1 button:hover {
    background-color: #afc4e8;
  }


  /* chatbox */
.chat-box {
  border: 3px solid #333333;
  border-radius: 12px;
  width: 600px;
  padding: 20px;
  margin-top: 150px;
  position: absolute;
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  flex-direction: column;
}

.chat-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.chat-title {
  color: #333;
  font-size: 24px;
  margin: 10px;
}

.chat-form {
  margin-top: 30px;
}

.form-input {
  /* barre de prompt */
  border: 3px solid #333333;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 80%;
  font-family: 'Roboto Mono', sans-serif;
}

.form-btn {
  /* bouton pour envoyer */
  background-color: #afc4e8;
  border: 3px solid #333333;
  border-radius: 12px;
  color: #333333;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
  width: 100px;
  font-family: 'Roboto Mono', sans-serif;
}

.form-btn:hover {
  background-color: #555;
}

.form-btn:active {
  background-color: #000;
  color: #fff;
}

.message-box {
  border: 3px solid #333333;
  border-radius: 12px;
  height: 200px;
  
}
.user-message {
    background-color: #FDDFCC;
  }
  
  .bot-message {
    background-color: #C3D3B6;
  }    

  
   /* Page contactes */
  .contact-page{
    font-family: 'Roboto Mono', sans-serif;
    font-size: 12pt;
    margin-left: 180px;
    margin-top: 300px;
    font-weight: 300;
    line-height: 1.5;
    color: #333333;
  }

  h1 {

    font-family: 'Roboto Mono', sans-serif;
    font-size: 14pt;
    font-weight: 400;  

  }
  
  .contact-page a:hover {
    
    color: #e37047;
  }




/* Page prix */

  .pricing {
    display: flex;
    margin-top: 300px;
    line-height: 1.5;
  }
  
  .offer {
    border: 3px solid #333333;
    border-radius: 12px;
    padding: 22px;
    text-align: center;
    width: 22%;
    margin-left: 180px;
  }
  
  .offer h2 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 0;
  }
  
  .offer h3 {
    color: #333333;
    font-size: 24px;
    font-size: 14pt;
    font-weight: 400; 
  }
  
  .offer ul {
    list-style: none;
    padding: 0;

  }
  
  .offer ul li {
    margin: 10px 0;
    font-weight: 300;
  }

  .offer2 {
    border: 3px solid #333333;
    border-radius: 12px;
    padding: 22px;
    text-align: center;
    width: 22%;
    margin-left: 40px;
  }
  
  .offer2 h2 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 0;
  }
  
  .offer2 h3 {
    color: #333333;
    
    font-size: 14pt;
    font-weight: 400; 
  }
  
  .offer2 ul {
    list-style: none;
    padding: 0;
  }
  
  .offer2 ul li {
    margin: 10px 0;
    font-weight: 300;
  }
  
  .pricing button {
    background-color: #afc4e8;
    border: 3px solid #333333;
    border-radius: 12px;
    color: #333333;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .pricing button:hover {
    background-color: #e37047;
    ;
  }

  
  
  /* Pointeur ?  */
  
  #container3 {
    width: 100%;
    height: 100vh;
    background-color: #000;
  }
  
  .streak {
    position: absolute;
    background-color: #333333;
    height: 4px;
    width: 4px;
    animation: streak 1s linear infinite;
  }
  
  @keyframes streak {
    0% {
      transform: scale(1);
      opacity: 1;
    }
  
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  
  

