RewriteEngine On

# Remove .html extension from URLs except for index.html
RewriteCond %{REQUEST_URI} !^/index\.html$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Redirect requests for ahdoc.chat to /index.html
RewriteCond %{HTTP_HOST} ^ahdoc\.chat [NC]
RewriteRule ^(.*)$ /index.html [L]

# Redirect *.html to *
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)\.html$ /$1 [R=301,L]
