/* Reset */
/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

/* Header */
header {
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}


.container {
  max-width: 80%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  min-height: 1vh;
  max-height: 70px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 2vh;
  min-height: 1vh;
}

nav a {
  display: flex;
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  padding: 1vh 1.5vh;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}



 /* footer */
footer {
  height: 8vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  font-family: 'Roboto Mono', sans-serif;/* typo*/
  
}

.right-align {
  color: #333333;
  text-align: right;
  padding: 1vh;
  position: fixed;
  right: 0;
  bottom: 0;
  padding-left: 400px;
  width: auto;
  white-space: nowrap;
  line-height: 1;
  
  
  
}

.right-align a{
  color: #333333;
  margin-right: 2vh;
}

.pixel img {
  position: absolute;
  height: 100%;
}

/* générale*/
body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: #eae4da;
  min-height: auto;
 }

/* bouton pour envoyer le fichier pdf - index */
/* Conteneur du uploader + chatbox */
.file-upload-container {
  
  height: auto;
  width: auto;
  padding-top: 10vh;
  margin-top: 3vh;
  padding-bottom: 5vh;
  padding-left: 3vh;
  padding-right: 3vh;

}
.file-uploader {
  padding-left: 3vh;
  padding-right: 3vh;
}

.file-upload-label {
  display: inline-block;
  background-color: #afc4e8;
  color: #333333;
  padding: 8px 20px;
  border-radius: 12px;
  border: 3px solid #333333;
  width: 20vh;

  cursor: pointer;
}

.file-upload-label:hover {
  background-color: #7398d8;
}

.file-upload-input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

/* chatbox */
.chat-container {
  max-width: auto;
  max-height: auto;
  height: auto;
  margin: 0 auto;
  display: flex;
  width: 80%;
}


.chat-box {
  border: 3px solid #333333;
  border-radius: 12px;
  width: 100%;
  padding: 20px;
  margin-top: 15px;
  position: flex;
  height: auto;
  font-family: 'Roboto Mono', sans-serif;
  box-shadow: 4px 4px 0 #333333, 5px 5px 0 #333333, 8px 8px 0 #333333, 8px 8px 0 #333333;
  background-color: #eae4da;
}


.chat-title {
color: #333;
font-size: 24px;
margin: 10px;
}

.chat-form {
margin-top: 30px;
position: inherit;
}


.form-input {
/* barre de prompt : Entrer votre message */
border: 3px solid #ccc;
border-radius: 12px;
margin-top: 10px;
margin-bottom: 10px;
padding: 10px;
width: 75%;
font-family: 'Roboto Mono', sans-serif;
}

.form-btn {
/* bouton pour envoyer */
background-color: #afc4e8;
border: 3px solid #333333;
border-radius: 12px;
color: #333333;
cursor: pointer;
padding: 10px;
transition: background-color 0.2s ease;
min-width: 12vh;
width: auto;
font-family: 'Roboto Mono', sans-serif;
position: relative;
}

.form-btn:hover {
background-color: #555;
}

.form-btn:active {
background-color: #000;
color: #fff;
}

.message-box {
border: 3px solid #333333;
border-radius: 12px;
background-color: #f2f2f2;
height: 45vh;
min-height: 20vh;
max-height: 60vh;
overflow-y: scroll;
}
.message-sent {
background-color: #afc4e8;
border: 3px solid #333333;
border-radius: 12px;
align-self: flex-end;
margin-top: 12px;
margin-bottom: 12px;
margin-left: 20vh;
padding: 10px;
}

.message-received {
  background-color: #a3a3a3;
  border: 3px solid #333333;
  border-radius: 12px;
  align-self: flex-start;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 20vh;
  padding: 10px;
}    


 /* Page contactes */
.contact-page{
  font-family: 'Roboto Mono', sans-serif;
  font-size: 12pt;
  margin-left: 180px;
  margin-top: 300px;
  font-weight: 300;
  line-height: 1.5;
  color: #333333;
}

h1 {

  font-family: 'Roboto Mono', sans-serif;
  font-size: 14pt;
  font-weight: 400;  

}

.contact-page a:hover {
  
  color: #e37047;
}




/* Page offres */

.pricing {
  display: flex;
  margin-top: 300px;
  line-height: 1.5;
  
}

.offer {
  border: 3px solid #333333;
  border-radius: 12px;
  padding: 22px;
  text-align: center;
  width: 22%;
  margin-left: 180px;
  box-shadow: 4px 4px 0 #333333, 5px 5px 0 #333333, 8px 8px 0 #333333, 8px 8px 0 #333333;
  background-color: #eae4da;
}

.offer h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
}

.offer h3 {
  color: #333333;
  font-size: 24px;
  font-size: 14pt;
  font-weight: 400; 
}

.offer ul {
  list-style: none;
  padding: 0;

}

.offer ul li {
  margin: 10px 0;
  font-weight: 300;
}

.offer2 {
  border: 3px solid #333333;
  border-radius: 12px;
  padding: 22px;
  text-align: center;
  width: 22%;
  margin-left: 40px;
  box-shadow: 4px 4px 0 #333333, 5px 5px 0 #333333, 8px 8px 0 #333333, 8px 8px 0 #333333;
  background-color: #eae4da;
}

.offer2 h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
}

.offer2 h3 {
  color: #333333;
  
  font-size: 14pt;
  font-weight: 400; 
}

.offer2 ul {
  list-style: none;
  padding: 0;
}

.offer2 ul li {
  margin: 10px 0;
  font-weight: 300;
}

.pricing button {
  background-color: #afc4e8;
  border: 3px solid #333333;
  border-radius: 12px;
  color: #333333;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.pricing button:hover {
  background-color: #e37047;
  ;
}



/* Pointeur ?  */

#container3 {
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.streak {
  position: absolute;
  background-color: #333333;
  height: 4px;
  width: 4px;
  animation: streak 1s linear infinite;
}

@keyframes streak {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}


/* Page profil  */

#login-form {
  width: 400px;
  margin-top: 150px;
  margin-left: 180px;
  padding: 20px;
  border: 3px solid #333333;
  border-radius: 12px;
  box-shadow: 4px 4px 0 #333333, 5px 5px 0 #333333, 8px 8px 0 #333333, 8px 8px 0 #333333;
  background-color: #eae4da;
}

#login-form label {
  display: block;
  margin-bottom: 10px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  border: 3px solid #ccc;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#login-button {
  background-color: #afc4e8;
  color: #333333;
  padding: 10px 20px;
  border: 3px solid #333333;
  border-radius: 12px;
  cursor: pointer;
}

#login-button:hover {
  background-color: #e37047;
}





/* Page n1 entrée dans le site   */


.code-acces {
  
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 2.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eae4da;
  border: 2px solid #333333;
  box-shadow: 4px 4px 0 #333333, 5px 5px 0 #333333, 8px 8px 0 #333333, 8px 8px 0 #333333;
  border-radius: 12px;
  padding: 20px;
  width: 400px;
  max-width: 90%; /* La largeur maximale est de 90% de la largeur de la fenêtre */
  font-family: 'Roboto Mono', sans-serif;/* typo*/
  }
  
  
.code-acces img {
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  margin-bottom: 10px;
  }


.form {
  display: inline;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


label {
  margin-right: 10px;
}

input {
  margin-right: 10px;
}



#codeForm input[type="text"] {
  width: 60%;
  padding: 10px;
  border-radius: 12px;
  border: 3px solid #ccc;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  display: inline
  
}



#login-button2 {
  background-color: #afc4e8;
  color: #333333;
  padding: 10px 20px;
  border: 3px solid #333333;
  border-radius: 12px;
  cursor: pointer;
  font-family: 'Roboto Mono', sans-serif;
  
}

#login-button3:hover {
  background-color: #e37047;
}

#login-button2:hover {
  background-color: #e37047;
}


.presentation {
  font-family: 'Roboto Mono', sans-serif; /* Police de caractères */
  font-size: 18px; /* Taille du texte */
  line-height: 1.5; /* Interligne */
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 800px;
  margin-top: 40px;
}
  


.presentation p {
  margin-bottom: 2vh; /* Ajoute une marge de 20 pixels en bas de chaque paragraphe */
  margin-top: 1vh;
  text-align: center;
  
}